<h1>Users</h1>

<ul class="list-unstyled">
  <% @users.each do |user| %>
    <li>
      <%= link_to user do %>
        <h2>
          <%= user %>
          <span class="badge badge-primary"><%= user.refs.count %></span>
        </h2>
      <% end %>
    </li>
  <% end %>
</ul>
