$grid-gutter-width: 0

@import bootstrap
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap')

*
    font-family: 'Roboto', sans-serif
    color: white

body
    background: black

nav
    position: absolute
    top: 0
    z-index: 1
    .logo
        left: 20px
        position: absolute
        top: 20px
        width: 100px
    .search, .add
        display: none

.ref
    .data
        display: none
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        padding: 20px
        background: rgba(0, 0, 0, 0.8)
    &:hover .data
        display: block
