@import 'bootstrap'
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700')
*
  font-family: 'Arimo', sans-serif
  line-height: 160%
  font-size: 14px
h1
  font-size: 14px
  font-weight: 700
body
  padding-top: 160px
  padding-left: 15px
  padding-right: 15px
  background: #f0f0f9
nav
  height: 130px
  background: white
  position: absolute
  top: 0
  right: 0
  left: 0
  z-index: 100
  #logo
    position: absolute
    width: 100px
    margin-left: -50px
    top: 30px
    left: 50%
  #search
    top: 40px
    left: 30px
    width: 200px
    position: absolute
    input
      padding: 5px
      font-size: 16px
      width: 100%
      border: none
      border-bottom: 1px solid black
  #plus
    position: absolute
    width: 20px
    right: 45px
    top: 50px
    a
      padding: 10px
.ref
  &__show
    &__media
      margin-bottom: 30px
    &__data
      float: left
      max-width: 600px
    &__meta
      color: #999
      text-align: right
  &__list
    height: 14rem
    &__media
      height: 12rem
      overflow: hidden
    &__data
      padding-top: 5px
.devise
  padding: 30px
  max-width: 300px
  .logo
    width: 100px
    margin: 30px 0
footer
  clear: both