body
    background: black

h1, h2, p, a
    font-family: 'Roboto', sans-serif
    color: white
    font-size: 11px
    line-height: 160%

a
    text-decoration: none

.nav
    position: fixed
    z-index: 1
    &__logo
        left: 12px
        position: fixed
        top: 20px
        width: 100px
    &__search, &__add
        display: none

.footer
    padding: 20px
    text-align: right
    margin-top: 100px
    a
        color: #666666
