.refs
    &__index
        column-count: 4
        column-gap: 0
        .ref
            break-inside: avoid
            margin-bottom: -3px
            overflow: hidden
            position: relative
            img, video
                max-width: 100%
            .data
                display: none
                position: absolute
                left: 0
                top: 0
                right: 0
                bottom: 0
                padding: 20px
                text-align: right
                background: rgba(0, 0, 0, 0.8)
            &:hover .data
                display: block
    &__show
        margin-top: 95px
        video, img
            max-width: 100%
