<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body>
    <%= render 'nav' %>
    <main class="row">
      <div class="offset-md-4 col-md-4">
        <%= yield %>
      </div>
    </main>
    <%= render 'footer' %>
  </body>
</html>
